<ul class="nav nav-tabs actions-nav">
    <li{% if active_page == 'index' %} class="active" {% endif %}>
        <a href="/"><span class="glyphicon glyphicon-list"></span> 列表{% if number %}({{ number }}){% endif %}</a>
    </li>
    {% if current_user.can(Permission.ADD) %}
        <li{% if active_page == 'add' %} class="active" {% endif %}>
            <a href="/s/add" title="Create New Record">
                <span class="glyphicon glyphicon-plus"></span> 新建
            </a>
        </li>
    {% endif %}
    {% if active_page == 'info' %}
        <li class="active">
            <a title="详情">
                <span class="glyphicon glyphicon-pencil"></span> 详情
            </a>
        </li>
    {% endif %}
    {% if current_user.can(Permission.DELETE) %}
        {% if active_page == 'index' %}
            <li class="dropdown pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">批量操作<b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">
                            <span class="fa fa-pencil glyphicon glyphicon-trash"> </span> 删除</a>
                    </li>
                </ul>
            </li>
        {% endif %}
    {% endif %}
</ul>