<ul class="nav nav-tabs actions-nav">
    <li class="active">
        <a href="/">全部列表</a>
    </li>
    <li>
        <a href="/s/create"
           title="Create New Record">创建</a></li>
    <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">批量<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">Delete</a>
            </li>
        </ul>
    </li>
</ul>