<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 container">
    <h1></h1>
    <div class="table-responsive">
        <ul class="nav nav-tabs actions-nav">
            <li class="active">
                <a href="javascript:void(0)">List (9)</a>
            </li>
            <li>
                <a href="#"
                   title="Create New Record">Create</a></li>
            <li class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">With selected<b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">Delete</a>
                    </li>
                </ul>
            </li>
        </ul>
        <table class="table table-striped table-bordered table-hover model-list">
            <thead>
            <tr>
                <th class="list-checkbox-column">
                    <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Select all records"/>
                </th>
                <th class="col-md-1">&nbsp;</th>
                <th class="column-header col-name">
                    <a href="/" title="Sort by Name">Name</a>
                </th>
                <th class="column-header col-ip">
                    <a href="/" title="Sort by ip">
                        ip
                    </a>
                </th>
                <th class="column-header col-ip">
                    <a href="/" title="Sort by ip">
                        ip2
                    </a>
                </th>
                <th class="column-header col-ip">
                    <a href="/" title="Sort by ip">
                        ip3
                    </a>
                </th>
                <th class="column-header col-ip">
                    <a href="/" title="Sort by ip">
                        ip4
                    </a>
                </th>
            </tr>
            </thead>
            <tr>
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" value="1" title="Select record"/>
                </td>
                <td class="list-buttons-column">
                    <a class="icon" href="#" title="Edit Record">
                        <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                    </a>
                    <form class="icon" method="POST" action="#">
                        <input id="id" name="id" type="hidden" value="1">
                        <input id="url" name="url" type="hidden" value="#">
                        <button onclick="return confirm('确定删除?');"
                                title="删除记录">
                            <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
                <td class="col-name">
                    YELLOW1
                </td>
                <td class="col-name">
                    YELLOW2
                </td>
                <td class="col-name">
                    YELLOW3
                </td>
                <td class="col-name">
                    YELLOW4
                </td>
                <td class="col-name">
                    YELLOW5
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" value="1" title="Select record"/>
                </td>
                <td class="list-buttons-column">
                    <a class="icon" href="/sqla/simple/admin/tag/edit/?url=%2Fsqla%2Fsimple%2Fadmin%2Ftag%2F&amp;id=1"
                       title="Edit Record">
                        <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                    </a>
                    <form class="icon" method="POST" action="/sqla/simple/admin/tag/delete/">
                        <input id="id" name="id" type="hidden" value="1">
                        <input id="url" name="url" type="hidden" value="/sqla/simple/admin/tag/">
                        <button onclick="return confirm('确定删除?');"
                                title="删除记录">
                            <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
                <td class="col-name">
                    YELLOW1
                </td>
                <td class="col-name">
                    YELLOW2
                </td>
                <td class="col-name">
                    YELLOW3
                </td>
                <td class="col-name">
                    YELLOW4
                </td>
                <td class="col-name">
                    YELLOW5
                </td>
            </tr>

        </table>
        <form id="action_form" action="/sqla/simple/admin/tag/action/" method="POST" style="display: none">
            <input type="hidden" name="url" value="/sqla/simple/admin/tag/">
            <input type="hidden" id="action" name="action"/>
        </form>
    </div>
</div>