<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#            <a class="navbar-brand" href="/">#}
            {#                <img width="116" height="22"#}
            {#                     src="https://libraries.io/assets/logo-ff2b4e24d68406c7bddf1bea8d15a9f3f06623bc47933cda0c7dc22828dd4a6a.svg"#}
            {#                     alt="Logo">#}
            {#            </a>#}
        </div>
        <div class="navbar-collapse collapse dropdown"

    </div>
    <div class="navbar-collapse collapse dropdown" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
            <li class="mobile-menu__item dropdown"><a href="/">用户</a></li>
            <li class="mobile-menu__item dropdown"><a href="/">环境</a></li>ß
            <li>
                <form class="navbar-form" action="/search" accept-charset="UTF-8" method="get">
                    <div class="input-group input-group">
                        <input id="searchBox" name="q" type="text" placeholder="输入关键字搜索 ..." class="form-control"
                               value=""/>
                        <span class="input-group-btn">
                                <button class="btn btn-link">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </div>
                </form>
            </li>
            <li>
                <p class="navbar-btn">
                    <a class="btn btn-success" rel="nofollow"
                       href="/login">
                        <i class="fa fa-github"></i> 注册 / 登录
                    </a>
                </p>
            </li>
        </ul>
    </div>
</div>
</div>