{#<div class="col-sm-3 col-md-2 sidebar">#}
{#    <ul class="nav nav-list">#}
{#        <li class="nav-header"><strong>全部环境</strong></li>#}
{#        <li><a href="#">DEV</a></li>#}
{#        <li><a href="#">SIT</a></li>#}
{#        <li><a href="#">UAT</a></li>#}
{#        <li><a href="#">TRL</a></li>#}
{#        <li class="nav-header"><strong>分区域</strong></li>#}
{#        <li><a href="#">境内</a></li>#}
{#        <li><a href="#">港行</a></li>#}
{#        <li><a href="#">海外</a></li>#}
{#    </ul>#}
{#</div>#}

<div class="col-sm-3 col-md-2 sidebar" data-spy="affix" data-offset-top="200">
    <ul class="nav nav-list ">
        <li class="active"><a href="#dropdowns">下拉菜单</a></li>
        <li><a href="#buttonGroups">按钮组</a></li>
        <li><a href="#buttonDropdowns">按钮下拉菜单</a></li>
        <li><a href="#navs">导航</a></li>
    </ul>
    <ul class="nav nav-list">
        <li class="active"><a href="#dropdowns">下拉菜单</a></li>
        <li><a href="#buttonGroups">按钮组</a></li>
        <li><a href="#buttonDropdowns">按钮下拉菜单</a></li>
        <li><a href="#navs">导航</a></li>
    </ul>
</div>