<div class="col-sm-3 col-md-2 sidebar">
    <h4>按流程划分</h4>
    <ul class="nav nav-list ">
        {% for envname in g.envnames %}
            <li><a href="{{ url_for('site.index',sort='envname',v=envname) }}">{{ envname }}环境</a></li>
        {% endfor %}
    </ul>
    <h4>按区域划分</h4>
    <ul class="nav nav-list">
        {% for location in g.locations %}
            <li><a href="{{ url_for('site.index',sort='location',v=location) }}">{{ location }}环境</a></li>
        {% endfor %}
    </ul>
</div>