<table class="table table-striped table-bordered table-hover model-list">
    <thead>
    <tr>
        <th class="list-checkbox-column">
            <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Select all records"/>
        </th>
        <th class="col-md-1"></th>
        <th class="column-header col-ip"><a href="/" title="Sort by ip">所属项目组</a></th>
        <th class="column-header col-ip"><a href="/" title="Sort by ip">环境</a></th>
        <th class="column-header col-ip"><a href="/" title="Sort by ip">ip</a></th>
        <th class="column-header col-ip"><a href="/" title="Sort by ip">操作系统版本</a></th>
        <th class="column-header col-ip"><a href="/" title="Sort by ip">机器所属人</a></th>
    </tr>
    </thead>
    <tbody>
    {% for server in servers %}
        <tr bgcolor="#ffe4c4">
            {#        <tr bgcolor="#ffe4c4">#}
            <td>
                <input type="checkbox" name="rowid" class="action-checkbox" value="{{ server.id }}"
                       title="选择该记录"/>
            </td>
            <td class="list-buttons-column">
                <a class="icon" href="{{ url_for('s.list',id=server.id) }}" title="编辑">
                    <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                </a>
                <form class="icon" method="POST" action="{{ url_for('s.delete') }}">
                    <input id="id" name="id" type="hidden" value={{ server.id }}>
                    <button onclick="return confirm('确定删除ip:{{ server.ip }}?');"
                            title="删除记录">
                        <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </td>
            {#            <td class="col-name">{{ server.use }}</td>#}
            <td class="col-name">{{ server.project }}</td>
            <td class="col-name">{{ server.envinfo.location + server.envinfo.envname }}</td>
            <td class="col-name">{{ server.ip }}</td>
            <td class="col-name">{{ server.oslevel }}</td>

            <td class="col-name">{{ server.contract_person }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>