<table class="table table-striped table-bordered table-hover model-list">
    <thead>
    <tr>
        {% if current_user.can(Permission.SERVER_EDIT) or current_user.can(Permission.SERVER_DELETE) %}
            <th class="list-checkbox-column">
                <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Select all records"/>
            </th>

            <th class="col-md-1"></th>
        {% endif %}
        <th class="column-header col-ip">用户名</th>
        <th class="column-header col-ip">邮箱</th>
        <th class="column-header col-ip">当前权限</th>
        <th class="column-header col-ip">密码</th>
        <th class="column-header col-ip">所属项目组</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr bgcolor="#ffe4c4">
            <td>
                <input type="checkbox" name="rowid" class="action-checkbox" value="{{ user.id }}"
                       title="选择该记录"/>
            </td>
            <td class="list-buttons-column">
                <a class="icon" href="{{ url_for('s.detail',id=user.id) }}" title="编辑">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <form class="icon" method="POST" action="">
                    <input id="id" name="id" type="hidden" value={{ user.id }}>
                    <button onclick="return confirm('确定删除ip:{{ user.username }}?');"
                            title="删除记录">
                        <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </td>
            <td class=""> {{ user.username }} </td>
            <td class=""> {{ user.email }} </td>
            <td class=""> {{ user.role_id }} </td>
            <td class=""> {{ user.password_hash }} </td>
            <td class=""> {{ user.projects }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>