{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
    {% include 'include/_nav_header.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1></h1>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <h4>当前用户信息</h4>
        <div>
            <div class="col-md-2 col-md-offset-1">
                {{ wtf.quick_form(profileform) }}
            </div>
        </div>
    </div>
{% endblock %}
