{% extends 'layout_profile.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
        <tr>
            {% if current_user.can(Permission.USER_GROUP_MANAGER) or current_user.can(Permission.USER_EDIT) %}
                <th class="col-md-1"></th>
            {% endif %}
            <th class="column-header col-ip">用户名</th>
            <th class="column-header col-ip">邮箱</th>
            <th class="column-header col-ip">角色</th>
            <th class="column-header col-ip">权限</th>
            <th class="column-header col-ip">所属项目组</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr bgcolor="#ffe4c4">
                {% if current_user.can(Permission.USER_GROUP_MANAGER) or current_user.can(Permission.USER_EDIT) %}
                    <td class="col-md-1">
                        <a class="icon" href="{{ url_for('u.profile',id=user.id) }}" title="编辑">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                {% endif %}
                <td class=""> {{ user.username }} </td>
                <td class=""> {{ user.email }} </td>
                <td class=""> {{ user.role.rolename }} </td>
                <td class=""> {{ user.role.desc }} </td>
                <td class=""> {{ user.get_subproject_name }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.project_users') }}
        </div>
    {% endif %}
{% endblock %}




