{% extends "bootstrap/base.html" %}

{% block title %}Server Manager - a demo{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'include/_header_nav.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-12 leaderboard">
        <h1>Libraries.io
            <small>The Open Source Discovery Service. <a class="visible-xs" href="/about">Find out more »</a></small>
        </h1>
        <form class="search-form" action="/search" accept-charset="UTF-8" method="get">
            <div class="input-group input-group-lg">
                <input type="text" name="q" id="q" placeholder="Search open source libraries, frameworks and tools..."
                       class="form-control" autofocus="autofocus">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
            <p class="hidden-xs">Libraries.io monitors <strong>2,016,823</strong> open source libraries across <strong>33</strong>
                different package managers.
                You can discover new libraries to use in your software projects as well as be notified of new releases
                to keep your applications secure and up to date.
                <a href="/about">Find out more</a>
            </p>
            <hr>
        </form>
    </div>
{% endblock %}