{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "include/_macros.html" as macros %}

{% block navbar %}
    {% include 'include/_nav_header.html' %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-list">
            <li><a href="{{ url_for('u.user',username=current_user.username) }}">关于我</a></li>
        </ul>
        {% if current_user.can(Permission.USER_GROUP_MANAGER) %}
            <ul class="nav nav-list">
                <li><a href="{{ url_for('u.project',username=current_user.username) }}">我的项目组</a></li>
            </ul>
        {% endif %}
        <ul class="nav nav-list">
            <li><a href="">我的服务器</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 container">
        <h1></h1>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}
        {% endblock %}
    </div>

{% endblock %}