{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
    {% include 'include/_nav_header.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1></h1>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {{ wtf.quick_form(profileform) }}
    </div>
{% endblock %}
