{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block navbar %}
    {% include 'include/_nav_header.html' %}
{% endblock %}
{% block content_header %}
    <div class="col-md-8">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">登录</h3>
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(profileform) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

