{% extends 'base.html' %}
{% import "include/_macros.html" as macros %}

{% block content_header %}
    {% include 'include/_content_header.html' %}
{% endblock %}
{% block content_table %}
    {% include 'include/_server_list.html' %}
{% endblock %}
{% block content_form %}
    {% include 'include/_content_form.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.search',q=request.args.get('q')) }}
        </div>
    {% endif %}
{% endblock %}

