{% extends 'base.html' %}

{% block  styles_extend %}
    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename='vendor/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block page_wrapper %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">主机列表</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover" id="serverlist"
                               data-toggle="table">
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock %}

{% block scripts_extend %}
    <script src="{{ url_for('static',filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/js/dataTables.bootstrap.min.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
        var del_server;
        $(document).ready(function () {
            var table = $('#serverlist').DataTable({
                responsive: true,
                fixedHeader: true,
                rowReorder: true,
                //服务器后台分页
                serverSide: true,
                processing: true,
                ajax: {
                    url: '{{ url_for('api.servers') }}',
                    type: 'GET',
                    error: function () {
                        alert("服务器未正常响应，请重试");
                    }
                },
                "columns": [
                    {"data": null, "title": "", "defaultContent": ""},
                    {"data": "subprojects", "title": "所属项目组", "defaultContent": ""},
                    {"data": "envinfo", "title": "环境", "defaultContent": ""},
                    {"data": "ip", "title": "ip", "defaultContent": ""},
                    {"data": "oslevel", "title": "操作系统版本", "defaultContent": ""},
                    {"data": "owner", "title": "机器所属人", "defaultContent": ""},
                    {#                    defaultContent{#}
                    {#                        "data": null,#}
                    {#                        "defaultContent": '<a type="button" id="delete_server" ' +#}
                    {#                        ' href="#"><span class="glyphicon glyphicon-trash"></a>'#}
                    {#                    }#}
                ],
                "columnDefs": [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    },
                    {
                        //指定第一列，从0开始，0表示第一列，1表示第二列……
                        targets: 0,
                        render: function (data, type, row, meta) {
                            return '<input type="checkbox" name="checklist" value="' + row.id + '" />'
                        }
                    },
                    {
                        //指定第最后一列
                        targets: -1,
                        render: function (data, type, row, meta) {
                            return '<a type="button" href="#" onclick="del_server(\'' + row.ip + '\')" >' +
                                '<span class="glyphicon glyphicon-trash"></a> ' +
                                '<a type="button" href="#" onclick="edit_server(\'' + row.ip + '\')" >' +
                                '<span class="glyphicon glyphicon-pencil"></a>';
                        }
                    }
                ],
                "order": [[1, 'asc']],
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                //改变每页显示的条数
                "lengthMenu": [10, 20, 30, 40, 50, 100],
            });
            //选择行
            $('#serverlist tbody').on('click', 'tr', function () {
                $(this).toggleClass('bg-info');
            });
            //添加序号
            //不管是排序，还是分页，还是搜索最后都会重画，这里监听draw事件即可
            {#            table.on('draw.dt', function () {#}
            {#                table.column(0, {#}
            {#                    search: 'applied',#}
            {#                    order: 'applied'#}
            {#                }).nodes().each(function (cell, i) {#}
            {#                    //i 从0开始，所以这里先加1#}
            {#                    i = i + 1;#}
            {#                    //服务器模式下获取分页信息，使用 DT 提供的 API 直接获取分页信息#}
            {#                    var page = table.page.info();#}
            {#                    //当前第几页，从0开始#}
            {#                    var pageno = page.page;#}
            {#                    //每页数据#}
            {#                    var length = page.length;#}
            {#                    //行号等于 页数*每页数据长度+行号#}
            {#                    cell.innerHTML = (i + pageno * length);#}
            {#                });#}
            {#            });#}
            //删除方法
            del_server = function (ip) {
                $.ajax({
                    url: '/api/servers/' + ip,
                    type: 'delete',
                    success: function (data) {
                        table.ajax.reload(null, false);
                    }
                })
            }

        })
        ;
    </script>
{% endblock %}