{% extends 'base.html' %}

{% block  styles_extend %}
    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename='vendor/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block panel_title %} 主机列表 {% endblock %}
{% block panel_body %}
    <form name="frm-example" id="frm-example">
        <p class="form-group">
            <a id="delete_batch" class="btn btn-primary">删除选中行</a>
        </p>
    </form>
    {% include 'common/_modal.html' %}
    <table width="100%" class="table table-bordered table-hover" id="serverlist"
           data-toggle="table">
        <thead>
        <tr>
            <th></th>
            <th>
                <input type="checkbox" id="checkAll">
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block scripts_extend %}
    <script src="{{ url_for('static',filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/serverlist.js') }}"></script>
{% endblock %}