{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/fixes.html' as macro %}

{% block title %} this is test {% endblock %}
{% block styles %}
    {{ super() }}
    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static',filename='vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='vendor/dist/css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    {{ macro.ie8() }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation" style="margin-bottom: 0">
            {% include 'test/common/_navbar_header.html' %}
            {% include 'test/common/_navbar_top_links.html' %}
            {% include 'test/common/_navbar_static_side.html' %}
        </nav>
        <!-- Page Content -->
        {% block page_wrapper %}
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        {% include 'test/common/_page_content.html' %}
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
            </div>
        {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static',filename='vendor/metisMenu/metisMenu.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static',filename='vendor/dist/js/sb-admin-2.js') }}"></script>
{% endblock %}
