{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="zh-cn" {% endblock %}
{% block title %} Bootstrap Test {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            padding-top: 70px;
        }
    </style>
{% endblock %}

{% block navbar %}
    {% include 'test/_test_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-2">
        {% include 'test/_left_menu.html' %}
    </div>
    <div class="col-md-10">
        {% include 'test/_page_header.html' %}
        {% include 'test/_page_body.html' %}
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}